<div>
  <div id="search_result">
    <table id="matrix" class="table">
      <tr class="ui-widget-header">
        <th style="width: 50px;">客號</th>
        <th style="width:100px;">姓名</th>
        <th style="width: 50px;">性別</th>
        <th style="width:100px;">電話</th>
        <th style="width:150px;">手機</th>
        <th style="width:200px;">地址</th>
        <th style="width:200px;">備註</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.sex ? '男' : '女' %></td>
          <td><%= user.landline %></td>
          <td><%= user.phone %></td>
          <td><%= user.address %></td>
          <td><%= user.annotate %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div>
    <input type="text" id="search_box"/>
    <button class="btn" id="search_btn">確認</button>
    <a href="/users/new"><button class="btn" id="go_adduser_btn">新增客戶</button></a>
  </div>
</div>