<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @store.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @store.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @store.end_time %>
</p>

<p>
  <strong>Annotate:</strong>
  <%= @store.annotate %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
