<%# add navigation links to this file %>
<li class="<%= controller.class == MembersController ? 'active' : '' %>"><%= link_to '客戶設定', '/members/' %></li>
<li class="<%= controller.class == ClothsController and controller.action_name == 'index' ? 'active' : '' %>"><%= link_to '衣服設定', '/cloths/' %></li>

<%# add dropdown navigation links here %>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    <span style="padding-right: 5px;">設定</span><span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" style="min-width: 120px;">
    <li><%= link_to '帳戶資訊', edit_user_registration_path %></li>
    <% if current_user.admin? %>
      <li><%= link_to '管理員', '/admin' %></li>
      <li><%= link_to '使用者', users_path %></li>
    <% end %>
    <li><%= link_to '登出', destroy_user_session_path, :method=>'delete' %></li>
  </ul>
</li>