<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Laundry42" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Laundry42" %>">
    <meta charset="utf-8" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">

      <div class="header">
        <%= render 'layouts/header' %>
      </div>

      <div class="inner_nav_tab">
        <%= render 'layouts/navigation' %>
      </div>
      <div class="inner_content">
        <div class="notice">
          <p class="notice_info">
            網站測試中 ...
          </p>
        </div>
        <div class="content">
          <main role="main">
             <%= render 'layouts/messages' %>
             <%= yield %>
          </main>
        </div>
      </div>

      <div class="footer">
        <%= render 'layouts/footer' %>
      </div>

    </div>
  </body>
</html>
