<%= simple_form_for(@member) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name,     label: "姓名", required: true %>
    <%= f.input :phone,    label: "手機", required: true %>
    <%= f.collection_radio_buttons :sex, [[true, '男'] ,[false, '女']], :first, :last %>
    <%= f.input :landline, label: "電話" %>
    <%= f.input :address,  label: "地址" %>
    <%= f.input :balance,  label: "餘額" %>
    <%= f.input :annotate, label: "備註" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, '儲存' %>
  </div>
<% end %>
<br>
