<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th style="width:  50px;">客號</th>
      <th style="width: 100px;">姓名</th>
      <th style="width:  50px;">性別</th>
      <th style="width: 200px;">電話</th>
      <th style="width: 100px;">餘額</th>
      <th style="width: 200px;">備註</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr member_id="<%= member.id %>">
        <td><%= member.id %></td>
        <td><%= member.name %></td>
        <td><%= member.sex ? '男' : '女' %></td>
        <td><%= member.phone %></td>
        <td><%= member.balance %></td>
        <td><%= member.annotate %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @posts%>

<%= search_form_for @q do |member| %>
  <%= member.label :id_or_name_or_phone_or_annotate_cont, style: "display: none;" %>
  <%= member.search_field :id_or_name_or_phone_or_annotate_cont %>
  <%= member.submit "搜尋", class: "btn" %>
  <a href="/members/new"><button class="btn">新增客戶</button></a>
<% end %>
